<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section>
		<div>
			<span class="name">음식</span>
			<span class="data"><%- POS.p_name %></span>
		</div>
		<div>
			<span class="price">단가</span>
			<span class="data"><%- POS.p_price</span>
		</div>
		<div>
			<span class="qu">수량</span>
			<span class="data"><%- POS.p_qu</span>
		</div>
		<div>
			<span class="addprice">금액</span>
			<span class="data"><%- POS.p_addprice</span>
		</div>
	</section>
</body>
</html>
<div>
	<span class="title">작성시각</span>
	<span class="data"><%- BBS.b_time %></span>
</div>